html{
   background-image:  
   background-attachment: fixed;
   background-repeat: ;
   background-position: 
}

divClass{
    box-sizing: ;
    width: ;
    height: ;
    padding: ;
}

borderImage{
border: width border-style color;
}