/*
main css / Template css
Author:  Conner Duncan
Date:  01.17.18


Filename: main.css
*/

#banner-text {
    color: #12BABA;
    font-size: 4rem;
    font-family: fantasy;
}


/* nav ul li {
    display: flex;
    flex: 1 1 auto;
    width: auto;
    text-align: center;
    color: black;
    background-color: darkgray;
}

nav ul li:hover {
    background-color: gray;
    color: white;
}

nav ul a:visited {}

nav ul a:link {} */

h1 {
    color: darkcyan;
}

#footer {
    border-top: 2px lightgray solid;
    /* margin-top: auto; */
    margin-top: 50px;
}

#banner {
    background-image: url(banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 500px) {
    small {
        display: none;
    }
}