/*
main css / Template css
Author:  Conner Duncan
Date:  01.17.18


Filename: main.css
*/


/* banner */

#banner-text {
    color: #12BABA;
    font-size: 4rem;
    font-family: fantasy;
}
  #banner-text small{
    font-size: 2rem;
  }

#banner {
    background-image: url(images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#merchBanner {
    background-image: url(images/bookcase.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#banner-text {
    text-shadow: 0 0 10px black;
}

#aboutBanner {
    background-image: url(images/rightSideBookStack.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* page styles */

h1 {
    color: darkcyan;
}

#footer {
    border-top: 2px lightgray solid;
    /* margin-top: auto; */
    margin-top: 50px;
}

button {
    background-color: #f8f9fa;
}


/* Merch */


/*excludes banner*/

.merch .card-title {
    float: left;
}

.merch .card-text {
    float: right;
}

.merch h2 {
    text-align: center;
    color: gray;
    margin-bottom: 10px;
}


/* navigation bar */


/*
 nav ul li {
    display: flex;
    flex: 1 1 auto;
    width: auto;
    text-align: center;
    color: black;
    background-color: darkgray;
}

nav ul li:hover {
    background-color: gray;
    color: white;
}

nav ul a:visited {}

nav ul a:link {}
    */


/* fundraisers */

#silhouette {
    background-image: url(images/silhouette.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 300px;
}
@media only screen and (max-width: 550px) {
  #silhouette {
    background-image: url(images/silhouetteMobile.jpg);
    background-position: center left;
  }
}

#books {
    background-image: url(images/bookBanner.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 300px;
}

@media only screen and (max-width: 800px) {
    #books {
      background-image: url(images/bookBannerMobile.jpg);
      background-position: left;
    }
}


/* donation page image*/

.donation .jumbotron {
    margin-bottom: 100px;
}

#cardImage1 {
    background-image: url(images/replacement-guy.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 10px 10px 0px 0px;
}

#cardImage2 {
    background-image: url(images/portrait.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 10px 10px 0px 0px;
}

#cardImage3 {
    background-image: url(images/example-picture-donations.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 10px 10px 0px 0px;
}

@media only screen and (max-width: 991px) {
    #cardImage1, #cardImage2, #cardImage3 {
      background-position: top;
      height: 550px;
    }
}

.card {
    border-radius: 10px;
}

h1.donation {
  font-size: 4rem;
}

#cash {
    background-image: url("images/rainbowPencils.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#cash h1 {
    color: rgb(245, 245, 245);
    /* font-size: 4rem; */
}

#material {
    background-image: url("images/noteBook.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#material h1 {
    /* font-size: 4rem; */
}

#volunteering {
    background-image: url("images/schoolHall.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#volunteering h1 {
    /* font-size: 4rem; */
    color: rgb(7, 173, 209);
    text-shadow: 1px 1px 1px gray;
}

#merch { /*NOTE: not merch page. Same goes for next*/
    background-image: url("images/tissuePaper.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#merch h1 {
    /* font-size: 4rem; */
    color: indigo;
    text-shadow: 1px 1px 1px black;
}

#social {
    background-image: url("images/bookcase.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

#social h1 {
    font-size: 8rem;
    /* color: slateblue; */
    color: #12BABA;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

@media only screen and (max-width: 410px) {
  #cardImage1, #cardImage2, #cardImage3 {
    /* background-position: top; */
    height: 100px;
  }
  h1.donation {
    font-size: 2rem;
  }
}
/* about us */

#teamImage1 {
  background-image: url(images/conner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  border-radius: 10px 10px 0px 0px;
}

#teamImage2 {
  background-image: url(images/skyler.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  border-radius: 10px 10px 0px 0px;
}

#teamImage3 {
  background-image: url(images/david.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  border-radius: 10px 10px 0px 0px;
}

#tissuePaper {
    background-image: url(images/tissuePaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: cursive;
}







/* Media  */

@media only screen and (max-width: 500px) {
    small {
        display: none;
    }
}
